.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
  color: #fff;
  flex-wrap: wrap;
}
.contenedor-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
}

.footer-left, .footer-right {
  flex: 1 1 300px;
}

.footer-logo img {
  width: 100px;
  margin-bottom: 10px;
}

.footer-left h3 {
  margin: 10px 0 5px;
  font-size: 20px;
}

.footer-left p {
  margin: 0 0 15px;
  line-height: 1.5;
}

.footer-redes {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.footer-redes a {
  font-size: 24px;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footer-redes a:hover {
  transform: scale(1.2);
  color: #25d366;
}

.footer-right h4 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-right p {
  margin: 5px 0;
}

.autor {
  text-align: center;
  margin-top: 30px;
  font-size: 13px;
  color: #aaa;
}



/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
  }

  .footer-left, .footer-right {
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-redes {
    justify-content: center;
    gap: 10px;
  }

  .footer-right p, .footer-left p {
    font-size: 14px;
  }
}

.footer-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}



.footer-logo {
    height: 40px;
    width: auto;
}

.footer-titulo {
  margin: 0;
  font-size: 1.5rem;
  color: white;
}

.footer-titulo .rojo {
  color: red;
}